
.gamePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: fromRight 0.5s ease-out;
    margin: clamp(10px, -27.17px + 8.75vw, 40px) 0;
}

.topInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.quitMenu {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-3);
    transition: transform 0.5s ease-out;
}

.quitMenu:hover {
    transform: scale(1.1);
}

.topInfo .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}
.topInfo .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.difficultyWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.difficultyWrapper select {
    background-color: var(--color-2);
    color: var(--color-4);
    border-radius: 4px;
}

.title {
    font-size: clamp(22px, 14.57px + 1.75vw, 28px);
    text-align: center;
    margin-top: 15px;
}

.gamePage h2 {
    font-size: clamp(20px, 12.57px + 1.75vw, 26px);
}

.emptySpace {
    height: 29px;
}

.cardsTable {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 135px));
    gap: 15px;
    justify-items: center;
    justify-content: center;
    width: 97%;
}

.mainCta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-4);
    background-color: var(--color-1);
    border: 1px solid var(--color-4);
    border-radius: 4px;
    padding: 10px 25px;
    transition: all 0.5s ease-out;
}

.mainCta:hover {
    color: var(--color-1);
    background-color: var(--color-4);
    border: 1px solid var(--color-1);
}

.mainCta:active {
    filter: brightness(0.6);
}

@keyframes fromRight {
    from {
        opacity: 0;
        left: 50vw;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        left: 0;
        transform: translateX(0);
    }
}