
.gamePage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: fromRight 0.5s ease-out;
    margin: 20px 0;
}

.topInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.quitMenu {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-3);
    transition: transform 0.5s ease-out;
}

.quitMenu:hover {
    transform: scale(1.1);
}

.topInfo .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.difficultyWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.title {
    font-size: 28px;
    text-align: center;
    margin-top: 15px;
}

.gamePage h2 {
    font-size: 26px;
}

.emptySpace {
    height: 29px;
}

.cardsTable {
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 135px));
    gap: 15px;
    justify-items: center;
    justify-content: center;
    width: 97%;
}

.mainCta {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--color-4);
    background-color: var(--color-1);
    border: 0;
    border-radius: 4px;
    padding: 10px 25px;
    transition: all 0.5s ease-out;
}

.mainCta:hover {
    transform: scale(1.1);
}

.mainCta:active {
    color: var(--color-1);
    background-color: var(--color-4);
}

@keyframes fromRight {
    from {
        opacity: 0;
        left: 50vw;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        left: 0;
        transform: translateX(0);
    }
}