.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    outline: 1px solid var(--color-3);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card.hidden .innerCard {
    transform: rotateY(180deg);
}


.cardFront,
.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
}

.cardFront {
    display: grid;
    place-items: center;
    font-size: 43px;
    font-weight: 700;
    width: 100%;
    height: 100%;
    color: var(--color-1);
    background-color: var(--color-3);
}

.cardBack {
    background-color: var(--color-2);
    color: white;
    transform: rotateY(180deg);
}

.revealSuccess .cardFront {
    background-color: #6eef5e;
}

.revealError .cardFront {
    background-color: #d95c5c;
}