body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  --color-1: #252B48;
  --color-2: #445069;
  --color-3: #5B9A8B;
  --color-4: #F7E987;


  background-color: var(--color-2);
  color: var(--color-4);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: auto;
}